<h1>New Task for <%= @project.name %></h1>

<%= form_with(model: [@project, @task], local: true) do |form| %>
  <% if @task.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.map { |p| [p.humanize, p] } %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :github_branch %>
    <%= form.text_field :github_branch, placeholder: "e.g. feature/login-page" %>
  </div>

  <div class="field">
    <%= form.label :user_id, "Assignee" %>
    <%= form.collection_select :user_id, @project.users, :id, :username, include_blank: "Unassigned" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Task" %>
  </div>
<% end %>

<%= link_to "Back to Project", project_path(@project) %>
