<aside class="sidebar">
  <div class="sidebar-brand">
    <div class="logo-placeholder">JL</div>
    <span class="navbar-title">Jira Lite</span>
  </div>
  <div class="sidebar-section">
    <div class="sidebar-section-header">
      <h3>Managed Projects</h3>
      <%= link_to new_project_path, class: "sidebar-add-button", title: "Create Project" do %>
        +
      <% end %>
    </div>
    <ul>
      <% @sidebar_manager_projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    </ul>
  </div>
  
  <div class="sidebar-section">
    <div class="sidebar-section-header">
      <h3>Developer Projects</h3>
      <%= link_to join_projects_path, class: "sidebar-add-button", title: "Join Project" do %>
        +
      <% end %>
    </div>
    <ul>
      <% @sidebar_developer_projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    </ul>
  </div>

  <div class="sidebar-footer">
    <%= link_to "Settings", "#" %> <!-- Placeholder -->
    <%= button_to "Logout", session_path, method: :delete, class: "logout-button" %>
  </div>
</aside>
