<h1>Project Settings</h1>

<%= form_with(model: @project, local: true) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :wip_limit, "WIP Limit" %>
    <%= form.number_field :wip_limit %>
  </div>

  <!-- Add WIP limit per status if needed, but model only has one wip_limit for now -->
  <!-- The test expects "wip_limit" input -->

  <div class="actions">
    <%= form.submit 'Save Settings', id: 'save-project-settings' %>
  </div>
<% end %>

<%= link_to 'Back', project_path(@project) %>
