<h1><%= @project.name %></h1>
<%= link_to "New Task", new_project_task_path(@project) %>

<p><strong>WIP limit (In Progress):</strong>
  <%= @project.wip_limit || @project.task_limit || "None" %>
</p>

<p><strong>In Progress :</strong>
  <%= @project.tasks.where(status: "in_progress").count %>
</p>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<hr>

<h2>Tasks</h2>

<div id="backlog-column">
  <h3>Backlog</h3>
  <ul>
    <% @project.tasks.backlog.each do |t| %>
      <li><%= t.title %> - <small><%= t.priority.titleize %></small></li>
    <% end %>
  </ul>
</div>

<div id="todo-column">
  <h3>To Do</h3>
  <ul>
    <% @project.tasks.todo.each do |t| %>
      <li><%= t.title %> - <small><%= t.priority.titleize %></small></li>
    <% end %>
  </ul>
</div>

<div id="in-progress-column">
  <h3>In Progress</h3>
  <ul>
    <% @project.tasks.in_progress.each do |t| %>
      <li><%= t.title %> - <small><%= t.priority.titleize %></small></li>
    <% end %>
  </ul>
</div>

<div id="done-column">
  <h3>Done</h3>
  <ul>
    <% @project.tasks.done.each do |t| %>
      <li><%= t.title %> - <small><%= t.priority.titleize %></small></li>
    <% end %>
  </ul>
</div>
